In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
def split_for_string(string_from_df):
    """Split of string which we get from dataframe,  \  
    also we will get counter there were number of  \
    iterations for every words 
    """
    splited_string =  string_from_df.split("|")
    for words in splited_string:
        c[words] += 1 

def split_for_month(date):
    """Split  of string which we get from dataframe,\  
    also we will get counter there were number of \
    iterations for every words."""
    splited_date =  date.split("/")
    splited_date  = splited_date[0]
    c[date] += 1 

def all_splitted_words_instring(string):
    """Split of string which we get from dataframe,also we will get list \
    there were all unique words after split  """
    global splitted_list
    splitted_string = string.split("|")
    for words in splitted_string:
        if words not in splitted_list:
            splitted_list.append(words)
            
def director2(l):
    """Split of string which we get from dataframe,check for \
    every word  contition and create list """
    global splitted_list
    global new_list
    k = l.split("|")
    for director in splitted_list:
        for words in k:
            if director == words:
                new_list.append(director)
                
def find_winter(x):
    """we find date for winter"""
    k = x.split("/")
    if k[0]  == "12" or k[0]  == "1" or k[0]  == "2":
        return x  

def split_for_string_for_movies(string_from_df):
    """Split of string which we get from dataframe,  \  
    also we will get information about paar of cast,\
    than playd together and how many times \
    """
    splitted_string = string_from_df.split("|")
    checker = 0
    number_of_cast= len(splitted_string)
    while number_of_cast != checker:
        for casts in splitted_string:
            if casts == splitted_string[checker]:
                continue
            else:
                string =min(casts,splitted_string[checker])\
                +", "+max(casts,splitted_string[checker]) 
                c[string] += 1 
        checker = checker+1  


def dict_for_companies_mean_len_film (companies):  
    """take len of name of films with companies   \  
    after we check how many companies created this films und  ,\
    which kind of companies, after we split  companies \ 
    and add for every companies  len of films and how many films in dict \
    """
    global dict_answer_for_result
    string_number = (len(str(data[data.production_companies \
                                  == companies].original_title.min())))
    string_name_count = data[data.production_companies\
                             == companies].original_title.count()  
    splitted_string_companies = companies.split("|")
    for companie in  splitted_string_companies: # перебор значений компаний 
        if companie  in dict_answer_for_result: # если компания уже есть
             dict_answer_for_result[companie] \
                = dict_answer_for_result[companie ][0]\
                +string_number, dict_answer_for_result[companie][1]+1
        else:
             dict_answer_for_result[companie] \
                = string_number,string_name_count
                        
        
def count_of_len_filmnames_of_comp(companies):  
    """take description of films with companies and split description   \  
    after we check how many times were this companies ,\
    in the end check for every company and add in dict\
    """
    global dict_for_result
    string_number = (str(data[data.production_companies \
                              == companies].overview.min()))
    string_number = len(string_number.split(" "))# кол симв в компаний в строке 
    string_name_count = data[data.production_companies \
                             == companies].overview.count()# количетсво повт комп
    splitted_companies_string = companies.split("|")
    for companie in splitted_companies_string : # перебор значений компаний 
        if companie in dict_for_result: # если компания уже есть
             dict_for_result[companie] = dict_for_result[companie][0]\
                +string_number, dict_for_result[companie][1]+1
        else:
             dict_for_result[companie] = string_number,string_name_count

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
data["profit"] = data.revenue - data.budget
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
filter_movie_bd = data.query('imdb_id in ["tt1345836","tt0413300","tt2395427","tt1032751","tt1298650"]')
display(filter_movie_bd[filter_movie_bd.budget == filter_movie_bd.budget.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
display(data[data.budget == data.budget.max()])# можно добавлять разные варианты решения

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
filter_movie_bd = data.query \
('imdb_id in ["tt0167260","tt0279111","tt0360717","tt0213149","tt0346491"]')
display(filter_movie_bd[filter_movie_bd.runtime  \
                        ==filter_movie_bd.runtime.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [11]:
filter_movie_bd = data.query \
('imdb_id in ["tt0299172","tt0283426","tt1449283","tt0121164","tt0443536"]')
display(filter_movie_bd[filter_movie_bd.runtime  \
                        ==filter_movie_bd.runtime.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'

In [13]:
display(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'

In [15]:
display(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '5. Avatar (tt0499549)'

In [17]:
 # лучше код получения столбца profit вынести в Предобработку что в начале
filter_movie_bd = data.query \
('imdb_id in ["tt0848228","tt2293640","tt2488496","tt2820852","tt0499549"]')
display(filter_movie_bd[filter_movie_bd.profit\
                        == filter_movie_bd.profit.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [19]:
data["profit"] = data.revenue - data.budget
filter_movie_bd = data.query \
('imdb_id in ["tt0134983","tt2294629","tt0424095","tt0180052","tt1210819"]')
display(filter_movie_bd[filter_movie_bd.profit == filter_movie_bd.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1. 1478'

In [21]:
display(data[data.revenue > data.budget].original_title	.count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [23]:
revenue_max_2008 = (data[(data.release_year == 2008)].revenue.max())
display(data[data.revenue == revenue_max_2008])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [25]:
profit_min_2012_14 = (data[(data.release_year >= 2012) &
                        (data.release_year <= 2014)].profit.min())
display(data[data.profit == profit_min_2012_14])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = '3. Drama'

In [27]:
action_count = data[data.genres.str.contains("Action")].genres.count()
adventure_count = data[data.genres.str.contains("Adventure")].genres.count()
drama_count = data[data.genres.str.contains("Drama")].genres.count()
comedy_count = data[data.genres.str.contains("Comedy")].genres.count()
thriller_count = data[data.genres.str.contains("Thriller")].genres.count()
df_count= pd.DataFrame([ [action_count,'Action'],[adventure_count,'Adventure'],
                        [drama_count,'Drama']\
                        ,[comedy_count,'Comedy'],[thriller_count,'Thriller']],
                  columns = ['count','name'])
display(df_count[df_count["count"] == df_count["count"].max()].name)

2    Drama
Name: name, dtype: object

ВАРИАНТ 2

In [28]:
c = collections.Counter()
data.genres.apply(split_for_string)
display(max(c, key = c.get))

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = '1. Drama'

Вариант 1

In [30]:
c = collections.Counter()
data[(data.profit > 0) ].genres.apply(split_for_string)
display(max(c, key = c.get))

'Drama'

Вариант 2

In [31]:
drama_count = data[(data.profit > 0) \
                   & data.genres.str.contains("Drama")].genres.count()
comedy_count = data[(data.profit > 0) \
                    & data.genres.str.contains("Comedy")].genres.count()
action_count = data[(data.profit > 0) \
                    & data.genres.str.contains("Action")].genres.count()
thriller_count = data[(data.profit > 0) \
                      & data.genres.str.contains("Thriller")].genres.count()
adventure_count = data[(data.profit > 0) \
                       & data.genres.str.contains("Adventure")].genres.count()
df_count_profit= pd.DataFrame([ [drama_count,'Drama'],[comedy_count,'Comedy'],
                        [action_count,'Action']\
                               ,[thriller_count,'Thriller'],[adventure_count,'Adventure']],
                  columns = ['count','name'])
display(df_count_profit[df_count_profit["count"]\
                        == df_count_profit["count"].max()].name)

0    Drama
Name: name, dtype: object

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
answers['13'] = '5.Peter Jackson'

Вариант 1

In [33]:
dict_for_answer = {}        
splitted_list = []
data.director.apply(all_splitted_words_instring)
for elements in splitted_list:
    sumrevenue_for_one_direct = data[data.director.str.contains(elements)].revenue.sum()
    dict_for_answer[elements] = sumrevenue_for_one_direct
display(max(dict_for_answer,key = dict_for_answer.get))

'Peter Jackson'

Вариант 2

In [34]:
st_sp_sum = data[data.director.str.contains("Steven Spielberg")].revenue.sum()
ch_n_sum = data[data.director.str.contains("Christopher Nolan")].revenue.sum()
d_ya_sum = data[data.director.str.contains("David Yates")].revenue.sum()
j_cam_sum = data[data.director.str.contains("James Cameron")].revenue.sum()
p_jack_sum = data[data.director.str.contains("Peter Jackson")].revenue.sum()

df_director_profit_sum= pd.DataFrame([ [st_sp_sum,'Steven Spielberg'],[ch_n_sum,'Christopher Nolan'],\
                                      [d_ya_sum,'David Yates'],[j_cam_sum,'James Cameron'],\
                                      [p_jack_sum,'Peter Jackson']],
                  columns = ['count','name'])
display(df_director_profit_sum[df_director_profit_sum["count"]\
                               == df_director_profit_sum["count"].max()].name)

4    Peter Jackson
Name: name, dtype: object

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = '5.Robert Rodriguez'

Вариант 1

In [36]:
st_sp_act = data[(data.genres.str.contains("Action")) \
                 & (data.director.str.contains("Ridley Scott"))].genres.count()
ch_n_act = data[(data.genres.str.contains("Action")) \
                & (data.director.str.contains("Guy Ritchie"))].genres.count()
d_ya_act = data[(data.genres.str.contains("Action")) \
                & (data.director.str.contains("Robert Rodriguez"))].genres.count()
j_cam_act = data[(data.genres.str.contains("Action")) \
                 & (data.director.str.contains("Quentin Tarantino"))].genres.count()
p_jack_act = data[(data.genres.str.contains("Action")) \
                  & (data.director.str.contains("Tony Scott"))].genres.count()

df_director_act= pd.DataFrame([ [st_sp_act,'Ridley Scott'],[ch_n_act,'Guy Ritchie'],
                        [d_ya_act,'Robert Rodriguez']\
                               ,[j_cam_act,'Quentin Tarantino'],[p_jack_act,'Tony Scott']],
                  columns = ['count','name'])
display(df_director_act[df_director_act["count"] \
                        == df_director_act["count"].max()].name)

2    Robert Rodriguez
Name: name, dtype: object

Вариант 2

In [37]:
temp_dict = {}        
new_list= []    
splitted_list = []
n = data.director.apply(all_splitted_words_instring)
data[(data.genres.str.contains("Action"))].director.apply(director2)
c = Counter(new_list)
for keys, values in c.items():
       for elements in splitted_list:
            if keys == elements:
                temp_dict[keys] = values
display(max(temp_dict, key = temp_dict.get))

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = '3. Chris Hemsworth'

In [39]:
dict_for_answer = {}        
splitted_list = []
data.cast.apply(all_splitted_words_instring)
for elements in splitted_list:
    sum_of_revenue = data[(data.cast.str.contains(elements))\
                          &(data.release_year == 2012) ].revenue.sum()
    dict_for_answer[elements] = sum_of_revenue
display(max(dict_for_answer,key = dict_for_answer.get))

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = '3. Matt Damon'

In [41]:
dict_for_answer = {}          
splitted_list = []
data.cast.apply(all_splitted_words_instring)
for elements in splitted_list:
    count_of_times = data[(data.cast.str.contains(elements)) \
                          &(data.budget > data.budget.mean()) ].original_title.count()
    dict_for_answer[elements] = count_of_times
display(max(dict_for_answer,key = dict_for_answer.get))

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = '3. Action'

In [43]:
dict_for_answer = {}           
splitted_list = []
data.genres.apply(all_splitted_words_instring)
for elements in splitted_list:
    count_of_times = data[(data.cast.str.contains("Nicolas Cage")) \
                          & (data.genres.str.contains(elements))].original_title.count()
    dict_for_answer[elements] = count_of_times
display(max(dict_for_answer,key = dict_for_answer.get))

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1. K-19: The Widowmaker'

In [45]:
min_profit = data[(data.production_companies.str.contains("Paramount Pictures") )]\
.profit.min()
display(data.original_title[data.profit == min_profit])

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5. 2015'

In [47]:
sum_revenue_for_years = data.groupby(["release_year"])["revenue"].sum()\
.sort_values(ascending = False)
display(sum_revenue_for_years.max())
display(sum_revenue_for_years[sum_revenue_for_years \
                              == sum_revenue_for_years.max()])

25449202382

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1. 2014'

In [49]:
profit_year = data[(data.production_companies.str.contains("Warner Bros"))]\
.groupby(["release_year"])["profit"].sum().sort_values(ascending = False)
display(profit_year[profit_year == profit_year.max()])

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4. Сентябрь'

In [51]:
c = collections.Counter()
data.release_date.apply(split_for_month)
display(max(c, key = c.get))

'12/25/2014'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '2. 450'

In [53]:
c = collections.Counter()
data.release_date.apply(split_for_month)
sum_films = 0
for month, count in c.items():
    if month >="6" and month <= "8" :
        sum_films = sum_films+count
display(sum_films)

289

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '5. Peter Jackson'

In [55]:
c = collections.Counter()
data_winter = data[data.release_date \
                   == data.release_date.apply(find_winter)]
data_winter.director.apply(split_for_string)
display(max(c, key = c.get))

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = '5. Four By Two Productions'

In [57]:
dict_answer_for_result = {} 
data.production_companies.apply(dict_for_companies_mean_len_film)
for keys in dict_answer_for_result.keys():
    x = dict_answer_for_result[keys][0]\
    /dict_answer_for_result[keys][1]
    dict_answer_for_result[keys] = x
display(max(dict_answer_for_result, key \
            = dict_answer_for_result.get))

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = '3. Midnight Picture Show'

In [59]:
dict_for_result= {} 
data.production_companies.apply(count_of_len_filmnames_of_comp)
for keys in dict_for_result.keys():
    x = dict_for_result[keys][0]/dict_for_result[keys][1]
    dict_for_result[keys] = x
display(max(dict_for_result, key = dict_for_result.get))

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [61]:
quantile = data.vote_average.quantile(q =0.99)
data[data.vote_average > quantile].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = '5. Daniel Radcliffe, Rupert Grint'

In [63]:
c = collections.Counter()        
data.cast.apply(split_for_string_for_movies)
display(max(c, key = c.get))

'Daniel Radcliffe, Rupert Grint'

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5.Peter Jackson',
 '14': '5.Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '3. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27